/* the styles for the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    /*width: 600px;*/
    /* Edits for hw A11 here*/
    margin-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #931420;
    background-color: #fffded;
    /*credits for hwA12  */
    width: 800px;
}

section {
    width: 525 px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

aside {
    width: 215 px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

html {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* the styles for the header */

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5 em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
}


/*
main h1 {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}
*/

header img {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130;
    font-style: italic;
}

header h2,
header h3 {
    text-indent: 0;
    padding-left: 30px;
    padding-right: 30px;
}


/* the styles for the section */

main {
    clear: left;
}

main h1 {
    font-size: 150%;
    padding-top: .3em;
    padding-bottom: .3em;
}

main h2 {
    color: #800000;
    font-size: 130%;
    text-align: left;
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding-left: 2em;
    padding-right: 2em;
}

main ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}

main li {
    padding-bottom: .35em;
}


/* the styles for the footer */

footer {
    background-color: #931420;
    color: white;
    /* clearing for step 5*/
    clear: right;
}

footer p {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

a:hover {
    font-style: italic;
}

a:focus {
    font-style: italic;
}

.shadow {
    text-shadow: 2px 2px #800000;
}

blockquote {
    font-style: italic;
}